.topnav{
    overflow: hidden;
    background-color:rgba(53, 53, 53, 0.486);
    width: 100%;
    min-width: 1050px;
}/*The Top navigation bar*/

.topnav a {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 17px 25px;
    text-decoration: none;
    font-size: 17px;
}/*Adding Styles to the Navigation bar*/

.topnav a:hover{
    background-color:rgba(255, 124, 109, 0.64);
    color: black;
}/*Hovering effect*/

.topnav a:active{
    background-color: rgb(255, 72, 72);
    color: rgb(0, 0, 0);
}/*Active effect*/

.topnav>.main{
    background-color: rgba(255, 136, 123, 0.818);
}/*The current page*/

.container{
    display: grid;
    background-color:rgba(27, 27, 27, 0.603); 
    font-size: 20px;
    padding: 2em;
    color: white;
    grid-template-rows: auto auto auto auto;
    width: 94.5%;
    max-width: 1780;
    min-width: 970px;
}/*The main body*/

.top_pic{
    background-color: rgba(53, 53, 53, 0.486);
    width: 100%;
    min-width: 975px;
}/*Logo and cover image*/

.head{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}/*The hedder part*/

.name{
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}/*The hotel name*/

.article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(27, 27, 27, 0.715);
    padding: 10px;
    border: solid rgba(255, 136, 123, 0.818);
    border-radius: 15px;
    text-align: center;
}/*The article part*/


.book{
    background-color: antiquewhite;
    width: 200px;
    font-size: 30px;
}/*The booking button*/

body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}/*The background*/

.book{
    background-color: rgba(27, 27, 27, 0.715);
    width: 200px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 5px solid rgba(255, 136, 123, 0.818);
}/*The booking link*/

.book a{
    color: white;
    text-decoration: none;
}/*The link*/

.book a:hover{
    color: rgba(255, 136, 123, 0.818);
}/*The hover effect*/

.ttt{
    background-color: rgba(27, 27, 27, 0.715);
    border: 2px dotted rgba(255, 136, 123, 0.818);
    border-radius: 15px;
    padding: 10px;
    width: 50%;
}/*The contact details*/

.ttt a{
    color: rgba(255, 136, 123, 0.818);
}/*The contact link*/

.ttt a:hover{
    color: rgb(213, 207, 207);
}/*The hover effect*/

.foot{
    background-color:rgba(0, 0, 0, 0.81); 
    font-size: 20px;
    padding: 2em;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 94.5%;
    min-width: 975px;
    overflow: hidden;
}/*The footer*/

.foot a{
    color: rgba(255, 136, 123, 0.818);
    width: 94.5%;
}/*The links*/

.foot a:hover{
    color: white;
    width: 94.5%;
}/*The hover effect*/

.bot{
    color: rgba(255, 136, 123, 0.818);
    width: 94.5%;
}/*The contacts*/

.picpic{
    width: 109%;
    max-width: 1780px;
}/*The child element*/

.image{
    width: 100%;
    max-width: 1780px;
}/*The images*/

